stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    # (same CI steps as above)

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployWebApp
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'Azure-Service-Connection-Name'
              appType: 'webApp'
              appName: 'hellowebapi-appservice'
              package: '$(Pipeline.Workspace)/drop/*.zip'
